<!DOCTYPE html>
<html lang="zxx">

<head>
    <!-- Meta Tag -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name='copyright' content=''>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Title Tag  -->
    <title>Eshop Shoping Site</title>
    <!-- Favicon -->
    <link rel="icon" type="image/png" href="images/favicon.png">
    <!-- Web Font -->
    <%- include('externallink.ejs')%>
</head>

<body class="js">
    <div class="breadcrumbs">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="bread-inner">
                        <ul class="bread-list">
                            <li><a href="/">Home<i class="ti-arrow-right"></i></a></li>
                            <li class="active"><a href="/cart/cartList">Cart</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container-fluid">

        <div class="row">
            <div class="col">
                <div class="card card-2">
                    <header>
                        <div class="col-12">
                            <div class="section-title">
                                <h2>Order History</h2>
                            </div>
                        </div>
                    </header>
                    <%OrderHistory.map((order,index)=>{%>

                        <div class="card-body">
                            <div class="media">
                            </div>
                            <hr class="my-3 ">
                            <div class="row">
                                <div class="col mt-auto">
                                    <table class="table table-striped table-inverse table-responsive table-hover">
                                        <thead class="thead-inverse">
                                            <tr>
                                                <th>OrderPlaced</th>
                                                <th>Total</th>
                                                <th>Ship to</th>
                                                <th></th>
                                                <th></th>
                                                <th>OrderID:#</th>
                                                <th>Address</th>
                                                <th>Status</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>
                                                    <%=order.date%>
                                                </td>
                                                <td>&#8377;<%=order.billAmount%>
                                                </td>

                                                <td>
                                                    <%=order.contactPerson%>
                                                </td>
                                                <td></td>
                                                <td></td>

                                                <td>
                                                    <a href="/order/<%=order.id%>">
                                                        <%=order.id%>
                                                    </a>
                                                </td>
                                                <td>
                                                    <%=order.deliveryAddress%>
                                                </td>

                                                <td>
                                                    <%=order.status%>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <%})%>
                            <div class="media-body my-auto text-right">
                                <div class="row  my-auto flex-column flex-md-row">
                                    <div class="col my-auto">

                                        <h6 class="mb-0">

                                        </h6>
                                    </div>
                                </div>
                            </div>
                </div>

            </div>
        </div>

    </div>

    <!--/ End Header -->

    <%- include('__footer.ejs')%>
        <!-- Jquery -->

        <!-- Popper JS -->
        <script src="js/popper.min.js"></script>
        <!-- Bootstrap JS -->
        <script src="js/bootstrap.min.js"></script>
        <!-- Color JS -->
        <script src="js/colors.js"></script>
        <!-- Slicknav JS -->
        <script src="js/slicknav.min.js"></script>
        <!-- Owl Carousel JS -->
        <script src="js/owl-carousel.js"></script>
        <!-- Magnific Popup JS -->
        <script src="js/magnific-popup.js"></script>
        <!-- Waypoints JS -->
        <script src="js/waypoints.min.js"></script>
        <!-- Countdown JS -->
        <script src="js/finalcountdown.min.js"></script>
        <!-- Nice Select JS -->
        <script src="js/nicesellect.js"></script>
        <!-- Flex Slider JS -->
        <script src="js/flex-slider.js"></script>
        <!-- ScrollUp JS -->
        <script src="js/scrollup.js"></script>
        <!-- Onepage Nav JS -->
        <script src="js/onepage-nav.min.js"></script>
        <!-- Easing JS -->
        <script src="js/easing.js"></script>
        <!-- Active JS -->
        <script src="js/active.js"></script>

</body>

</html>